.venv
.python-version
*.pyc
__pycache__/
tests/output/
TestExcel.xlsx
assets/background.jpg
assets/background.png
assets/background1.jpg
assets/background1.png
# pyinstaller関係
*.toc
*.zip
*.pkg
*.exe
*.html
warn-main.txt
main.spec
*.pyz


